<%= render 'books/sidebar', user: @user, book: @book %>


<h1>showページ</h1>
<%= @book_show.title %>
<%= @book_show.body %>
<% if @book_show.user.id == current_user.id %>
  <%= link_to "Edit", edit_book_path(@book_show.id) %>
  <%= link_to "Destroy", book_path(@book_show.id), method: :delete, data: { confirm: "本当に削除しますか" } %>
<% end %>